:root{
    color-scheme: dark;
    --element: #272727;
    --element2: #121212;
    --surface: #0F0F0F;
    --white: #F1F1F1;
    --text: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    scroll-behavior: smooth;
}

body
{
    background-color: var(--surface);
    color: var(--text);
}

header
{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 2;
}

header .container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20vmin;
    /* color: var(--surface); */
    /* text-shadow: 0px 0px 45px #000000; */
}

section
{
    margin-top: 100vh;
    position: absolute;
    height: auto;
    width: 100%;
    z-index: 55;
    background-color: var(--surface);
    opacity: 0.99;
}

section .container
{
    height: auto;
    width: 80%;
    background-color: transparent;
    padding: 10%;
    font-family: 'Anton';
    font-size:  5vmin;
    word-spacing: 3px;
    letter-spacing: 1px;
    /* color: var(--surface); */
    /* text-shadow: 0 0 15px #ff0000; */
}

footer
{
    height: auto;
    width: calc(100% - 50px);
    padding: 25px 25px;
    background-color: var(--element2);
    color: var(--text);
    z-index: 99;
}